.chat-display {
	height: calc(100vh - 151px);
	overflow-y: auto;
	width: 100%; 
}

.card {
	margin: 1em;

	&.mine {
		background: #ddd;
		margin-right: 5em;
	}

	&.not-mine {
		background: #dff;
		margin-left: 5em;
	}
}